deps/
.DS_Store
*~
*#
*.o
*.so
*.swp
*.dylib
*.dSYM
*.dll
*.rlib
*.dummy
*.exe
*-test
/src/generated/mimes.txt
/src/generated/mimegen
/src/response/mimes/mod.rs
/bin/main
/bin/test-internal
/bin/test-external
/doc/
/target
/build/
/.rust/
watch.sh
rusti.sh
Cargo.lock
.cargo
